<div class="row">
		</div>
		<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h1 class="text-center">Signup for Harding Moonglow</h1>
			  <form action="/signup" method="post">
			  <div class="form-group">
			    <label for="exampleInputName2">First Name</label>
			    <input type="text" class="form-control" id="exampleInputFirstName2" placeholder="Jane" name="first_name">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputName2">Last Name</label>
			    <input type="text" class="form-control" id="exampleInputLastName2" placeholder="Doe" name="last_name">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="psw">
			  </div>
			  <button type="submit" class="btn btn-default">Sign-up</button>
			</form>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
		  	<img src="http://filmmakeriq.com/wp-content/uploads/2013/09/Woody-Allen.jpg">
		</div>
		<div class="col-md-2"></div>
		</div>
		<div class="row">
		</div>